*{
    margin:0;
    padding:0;
}
body{
    background: url(./doc1.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    background-color: black;
}
#nav{
    display: flex;
    /* border: 2px solid red; */
    width: 26%;
}
#box a{
    text-decoration:none;
    color: white;
}
#box{
    list-style: none;
    padding: 5px;
    font-size: 25px;
    margin: 5px;}
    .logo{
        /* border: 2px solid red; */
        width: 312px;
        padding: 5px;
        margin: auto;
    }
form{
    display: flex;
    border: 2px solid red;
    width: 40%;
    margin:20px auto;
    padding: 5px 5px;

}   
form input{
    padding: 10px 10px;
    margin: 8px;
} 
.info h2{
    text-align: center;
    padding: 11px;
}
.info{
    border: 2px solid #161818;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
    background-color: #969682;
    height: 50px;}
.textar{
    border: 2px solid red;
    margin-bottom:0px ;
    display: flex;
}   
.textar p{
    padding: 5px;
    font-size: 20px;
} 
.textar h2{
    text-align: center;
}
.textar div{
    border: 3px solid #292a28;
    background-color: #ebdb4e;

}